<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<form>
        {{!-- {{#each model.barang as |item|}} --}}
      
        {{input  class="form-control" value=model.nama_barang required=true disabled=true}}
        
        <select class="form-control">
                {{#each karyawans as |kar|}}
                    <option selected hidden>---</option>
                    <option value="{{kar.nama_karyawan}}">{{kar.nama_karyawan}}</option>
                      
                {{/each}}
            </select>
        {{!-- {{input class="form-control" value=model.nama_departemen required=true disabled=true}}
        {{input class="form-control" value=model.nama_kategori required=true disabled=true}} --}}
        
            
{{!--            
        {{/each}}  --}}
        
         
        
       
        {{!-- {{input class="form-control" value=model.nama_departemen required=true}} --}}
    {{!-- {{input class="form-control" value=model.nama_kategori required=true}} --}}
</form>


